<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/styles/main.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');</style>
</head>
<body>
    <h1>Pokedex</h1>
    <div class="pokedex-container">
        <div class="pokedex-owner-name">VAN</div>
        <div class="pokedex-id">No.01</div>
        <div class="pokedex-image-container">
            <img class="pokemon-image" src="http://img.pokemondb.net/artwork/bulbasaur.jpg" alt="bulbasaur"></img>
            <img class="pokemon-image" src="http://img.pokemondb.net/artwork/squirtle.jpg" alt="squirtle"></img>
            <img class="pokemon-image" src="http://img.pokemondb.net/artwork/charmander.jpg" alt="charmander"></img>
        </div>
        <div class="pokedex-pokemon-name">Pokemon Name</div>
        <div class="pokedex-pokemon-type">Type()</div>
        <div class="pokedex-pokemon-description">Description Blahblahblah WahhWahhWahh</div>
    </div>
</body>
</html>