*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: black;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: white;
}


h2 {
    font-family: 'Silkscreen', cursive;
    color: black;
}

p {
    font-size: 0.5em;
    margin: .5em;
    text-shadow: 2px 2px 2px rgb(81, 144, 90);
    text-align: center;
}

.pokedex-owner-name {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 7.3em;
    height: 1.2em;
    background-color: rgb(254, 51, 51);
    position: absolute;
    margin: 3.5em 5em 3em 10.7em;
    text-align: center;
    color: black;
    color: transparent;
    text-shadow: 0 0 1.4px rgb(29, 29, 29);
    font-weight: 100;
}

.pokedex-image-container {
    width: 18.7em;
    height: 18.2em;
    position: absolute;
    margin: 6.05em 3.9em 5em 2.2em;
    overflow-y: auto;
    
}

.pokedex-logo {
    width: 14em;
    height: 16em;
    object-fit: contain;
    margin: 2.2em;
}

.pokemon-image{
    width: 14em;
    height: 16em;
    object-fit: contain;
    margin: 2.2em;
}

.pokedex-id {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 5em;
    height: 1.2em;
    background-color: rgb(255, 255, 255, 0%);
    position: absolute;
    margin: 6.2em 10em 3em 2.2em;
    z-index: 1;
}

.pokedex-id-insert {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 3em;
    height: 1.2em;
    background-color: rgb(255, 255, 255, 0%);
    position: absolute;
    margin: 6.2em 10em 3em 4.2em;
    z-index: 1;
}

.pokedex-page {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 12em;
    height: 1.2em;
    background-color: rgb(255, 255, 255, 0%);
    position: absolute;
    margin: 6.2em 10em 3em 8.2em;
    text-align: right;
    z-index: 1;
}

.new-led {
    position: absolute;
    width: .8em;
    height: .4em;
    background-color: rgb(3, 120, 19);
    margin: 24.8em 10em 3em 2em;
    border: 2px solid black;
    border-radius: 20%;
}

.home-led {
    position: absolute;
    width: .8em;
    height: .4em;
    background-color: rgb(0, 188, 25);
    margin: 24.8em 10em 3em 3.2em;
    border: 2px solid black;
    border-radius: 20%;
}

.show-led {
    position: absolute;
    width: .8em;
    height: .4em;
    background-color: rgb(3, 120, 19);
    margin: 24.8em 10em 3em 4.4em;
    border: 2px solid black;
    border-radius: 20%;
}

.edit-led {
    position: absolute;
    width: .8em;
    height: .4em;
    background-color: rgb(3, 120, 19);
    margin: 24.8em 10em 3em 5.6em;
    border: 2px solid black;
    border-radius: 20%;
}

.pokedex-pokemon-name {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 9em;
    height: 1.2em;
    background-color: rgb(144, 198, 69, 100%);
    position: absolute;
    margin: 25.9em 10em 3em 2em;
    text-align: left;
    border: 0;
    text-shadow: 2px 2px 2px rgb(81, 144, 90);
}

.pokedex-pokemon-type {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 10em;
    height: 1.2em;
    background-color: rgb(144, 198, 69, 100%);
    position: absolute;
    margin: 25.9em 4em 3em 11em;
    text-align: right;
    text-shadow: 2px 2px 2px rgb(81, 144, 90);
    
}

.pokedex-pokemon-type-insert {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 10em;
    height: 1.2em;
    background-color: rgb(144, 198, 69, 100%);
    position: absolute;
    margin: 0em 4em 3em -5em;
    border: 0;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(81, 144, 90);
}

.pokedex-description-container {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 9.9em;
    height: 4.7em;
    position: absolute;
    margin: 28.05em 7.1em 3em 7.1em;
    overflow-y: auto;
}

.pokedex-pokemon-description {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 9.9em;
    height: 4.7em;
    background-color: rgb(144, 198, 69, 100%);
    position: absolute;
    overflow-y: auto;
    text-shadow: 2px 2px 2px rgb(81, 144, 90);
}

.description-autofill {
    font-family: 'Silkscreen', cursive;
    font-size: .2em;
    width: 52em;
    height: 2.5em;
    line-height: 0;
    position: absolute;
    margin: 136.8em 17.7em 3em 34.2em;
    background-color: rgb(85, 85, 85);
    z-index: 1;
}

.description-input {
    background-color: rgb(103, 145, 46);
    font-family: 'Silkscreen', cursive;
    font-size: .5em;
}

.pokedex-up {
    width: 1.7em;
    height: 1.7em;
    background-color: rgba(133, 186, 60, 0%);
    position: absolute;
    margin: 33.9em 5em 3em 4em;
    border-radius: 0%;
}

.pokedex-down {
    width: 1.7em;
    height: 1.7em;
    background-color: rgba(133, 186, 60, 0%);
    position: absolute;
    margin: 37.2em 5em 3em 4em;
    border-radius: 0%;
}

.pokedex-left {
    width: 1.7em;
    height: 1.7em;
    background-color: rgba(133, 186, 60, 0%);
    position: absolute;
    margin: 35.6em 5em 3em 2.4em;
    border-radius: 0%;
}

.pokedex-right {
    width: 1.7em;
    height: 1.7em;
    background-color: rgba(133, 186, 60, 0%);
    position: absolute;
    margin: 35.6em 5em 3em 5.6em;
    border-radius: 0%;
}

.pokedex-enter {
    width: 2.2em;
    height: 2.2em;
    background-color: rgba(133, 186, 60, 0%);
    position: absolute;
    margin: 36.3em 5em 3em 23.2em;
    border-radius: 50%;
}

.pokedex-delete {
    width: 1.8em;
    height: 1.8em;
    background-color: rgba(133, 186, 60, 0%);
    position: absolute;
    margin: 33.7em 5em 3em 22em;
    border-radius: 50%;
}

.pokedex-container {
    width: 23em;
    height: 34em;
    background-image: url(../assets/pokedex.png);
    background-repeat: no-repeat;
    border-radius: 1em;
}

