*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background-color: black;
}

h1 {
    font-family: 'Silkscreen', cursive;
    color: white;
}


.pokedex-owner-name {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 6.9em;
    height: 1.2em;
    background-color: red;
    position: absolute;
    margin: 3.5em 5em 3em 11em;
    text-align: center;
    color: black;

}

.pokedex-image-container {
    width: 14em;
    height: 16em;
    position: absolute;
    margin: 7.4em 3.9em 5em 3.9em;
    overflow-y: auto;
}

.pokedex-id {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 5em;
    height: 1.2em;
    background-color: white;
    position: absolute;
    margin: 6.2em 10em 3em 2.2em;
}

.pokemon-image{
    width: 14em;
    height: 16em;
}

.pokedex-pokemon-name {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 10em;
    height: 1.2em;
    background-color: rgba(133, 186, 60, 100%);
    position: absolute;
    margin: 25.9em 10em 3em 2em;
    
}

.pokedex-pokemon-type {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 7em;
    height: 1.2em;
    background-color: rgba(133, 186, 60, 100%);
    position: absolute;
    margin: 25.9em 4em 3em 14em;
    
}

.pokedex-pokemon-description {
    font-family: 'Silkscreen', cursive;
    font-size: 1em;
    width: 9.9em;
    height: 4.5em;
    background-color: rgba(133, 186, 60, 100%);
    position: absolute;
    margin: 28.1em 7.1em 3em 7.1em;
    
}

.pokedex-container {
    width: 23em;
    height: 34em;
    background-image: url(../assets/pokedex.png);
    background-repeat: no-repeat;
    border-radius: 1em;
}

